#div1{
        background-color: darkorange;
      }

div.item {
  margin: 1px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height:20%;
}

div.item:hover {
  border: 1px solid #777;
}

div.item img {
  width: 100%;
  height: 300px;
}

div.item {
  padding: 5px;
  text-align: left;
}

#name{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    width : 100%;
}